<header>
    <div class="interface">
        <div class="logo">
            <a href="#">
                <img src="/images/logo.png" alt="Logo Portfolio">
            </a>
        </div>

        <nav class="menu-desktop">
            <ul>
                <li><a href="#">Início</a></li>
                <li><a href="#">Especialidade</a></li>
                <li><a href="#">Sobre</a></li>
                <li><a href="#">Projetos</a></li>
            </ul>
        </nav>

        <div class="btn-contato">
            <a href="#">
                <button>Contato</button>
            </a>
        </div>
    </div>
</header>
