/* ESTILO GERAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: auto;
}

body {
    background-color: #000;
    height: 100vh;
    transition: .5s;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: #ff6200;
    border: 0;
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

.botoes {
    display: flex;
    flex-direction: row;
}

.btn-contato {
    margin-right: 15px;
}

.btn-curriculo {
    flex: 0 0 auto;
}

h2.titulo {
    color: #fff;
    font-size: 38px;
    text-align: center;
}

h2.titulo span {
    color: #ff6200;
}

button:hover {
    box-shadow: 0 0 8px #ff6200;
    transform: scale(1.05);
}

section {
    height: 95vh;
}

/* ESTILO DO CABEÇALHO */
header {
    padding: 40px 4%;
    display: flex;
}

header a {
    color: #787878;
    font-size: 18px;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header nav.menu-desktop a:hover {
    color: #fff;
    transform: scale(1.05);
}

header nav ul {
    list-style-type: none;
    padding: 0 20px;
}

header nav.menu-desktop ul li {
    display: inline-block;
    padding: 0 20px;
}

header nav.menu-desktop{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

/* ESTILO DO TOPO DO SITE */
section.topo-do-site {
    padding: 40px 4%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

section.topo-do-site .flex {
    align-items: stretch;
    justify-content: center;
    gap: 90px;
}

.topo-do-site .left-side {
    flex: 1;
    flex-direction: column;
    justify-content: center;
}

section.topo-do-site .right-side {
    flex: 0.5;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section.topo-do-site .right-side img {
    position: relative;
    object-fit: cover;
    animation: flutuar 2s ease-in-out infinite alternate;
}

.scroll-down {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2rem;
    color: white;
    cursor: pointer;
    animation: flutuarSeta 2s ease-in-out infinite alternate;
}

.topo-do-site h1 {
    color: #fff;
    font-size: 64px;
    line-height: 70px;
}

.topo-do-site .txt-topo-site h1 span {
    color: #ff6200;
}

.topo-do-site .txt-topo-site p {
    color: #fff;
    font-size: 20px;
    line-height: 30px;
    margin: 20px 0;
}

/* ESTILO DO SOBRE */
section.sobre {
    padding: 40px 4%;
    display: flex;
    justify-content: center;
}

section.sobre .flex {
    align-items: center;
    justify-content: center;
    gap: 60px;
}

.sobre .txt-sobre {
    color: #fff;
    width: 100%;
}

.sobre .txt-sobre h2 {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 30px;
    margin-top: 15px;
}

.sobre .txt-sobre h2 span {
    color: #ff6200;
    display: block;
}

.sobre .txt-sobre p {
    font-size: 20px;
    line-height: 34px;
    text-align: justify;
    margin: 15px 0;
}

.btn-social button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: #ff6200;
    color: #000000;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
    outline: none;
}

.btn-social a {
    text-decoration: none;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    margin: 5px;
}

.sobre .btn-social{
    display: flex;
}
.img-sobre img {
    border-radius: 10%;
    width: 400px;
    height: 654px;
    object-fit: cover;
}

/* ESTILO DAS ESPECIALIDADES */
section.especialidades {
    padding: 40px 4%;
    height: auto;
}

section.especialidades .flex {
    gap: 60px;
}

.especialidades .especialidades-box {
    color: #fff;
    padding: 30px;
    border-radius: 20px;
    margin-top: 35px;
    transition: .2s;
}

.tech-icons {
    margin-top: 20px;
    display: flex;
    gap: 12px;
    flex-wrap: wrap;
}

span.tech-icon {
    background-color: #1e1e1e; /* Fundo escuro */
    color: #fff;
    padding: 6px 12px;
    border-radius: 20px; /* Formato de bolinha */
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    transition: transform 0.2s ease-in-out;
    user-select: none;
}

.especialidades span.tech-icon:hover,
.especialidades.dark span.tech-icon:hover,
.modal-content.modal-split .modal-info span.tech-icon:hover,
.modal-content.modal-split.dark .modal-info span.tech-icon:hover {
    transform: scale(1.1);
    background-color: rgba(255, 98, 0, 0.71); /* Destaque laranja no hover */
}

.especialidades .especialidades-box:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px #ffffff78;
}


.especialidades .especialidades-box h3 {
    font-size: 28px;
    margin: 15px 0;
}

.especialidades a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 30px;
    font-size: 21px;
    margin-top: 30px;
    transition: transform 0.3s ease;
}

.especialidades a:hover {
    transform: scale(1.05);
}

/* ESTILO DO PORTFÓLIO */
section.portfolio {
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

section.portfolio .flex {
    display: flex;
    justify-content: space-between;
    margin-top: 60px;
    flex-wrap: wrap; /* Permite que os itens se movam para a linha seguinte se não houver espaço suficiente */
}

.img-port {
    width: 30%;
    height: 460px;
    border-radius: 40px;
    background-size: cover;
    background-position: 100% 0;
    transition: 8s;
    cursor: pointer;
    position: relative;
    margin-bottom: 20px;
}

.img-port:hover {
    background-position: 100% 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b8;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover {
    opacity: 1;
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.modal-overlay.active {
    display: flex;
}

.modal-content {
    background: #111;
    padding: 30px;
    border-radius: 16px;
    color: white;
    width: 500px;
    max-width: 90%;
    text-align: left;
    position: relative;
    animation: fadeIn .3s ease-in-out;
}

.modal-content.modal-split {
    display: flex;
    flex-direction: row;
    gap: 30px;
    padding: 30px;
    background: rgba(17, 17, 17, 0.96);
    border-radius: 16px;
    width: 70%;
    max-height: 90vh;
    overflow: hidden;
    animation: fadeIn .3s ease-in-out;
    position: relative;
}

.modal-image {
    flex: 0 0 40%;
    overflow-y: auto;
    max-height: 70vh;
    border-radius: 12px;
}

.modal-image img {
    width: 100%;
    border-radius: 12px;
    display: block;
}

.modal-info {
    flex: 1;
    overflow-y: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 16px;
    padding: 7vh 10px 10px 0; /* top, right, bottom, left */
}


.modal-info h2 {
    font-size: 1.8rem;
    margin: 0 0 12px 0; /* sem margem no topo, 12px abaixo */
    padding-top: 0;
}

.modal-info .tech-icons {
    margin: 10px;
}

.modal-info p {
    font-size: 1rem;
    line-height: 1.6;
}

.modal-info a {
    color: #00bfff;
    text-decoration: none;
    font-weight: 500;
    margin-top: 8px;
    display: inline-block;
}

.modal-info a:hover {
    text-decoration: underline;
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

/* ESTILO DO RODAPÉ */
footer {
    padding: 40px 4%;
    box-shadow: 0 0 40px 10px #ffffff1d;
}

footer .flex {
    justify-content: space-between;
}

footer .line-footer {
    padding: 20px 0;
}

.borda {
    border-top: 2px solid #ff6200;
}

footer .line-footer p i {
    color: #ff6200;
    font-size: 22px;
}

footer .line-footer p a {
    color: #fff;
}

.trilho {
    width: 100%;
    max-width: 75px;
    height: 30px;
    background-color: #4d4d4d;
    border-radius: 75px;
    position: relative;
    cursor: pointer;
    overflow: hidden;
}

.trilho .indicador {
    background-color: #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transform: scale(0.6);
    position: absolute;
    transition: left 0.5s ease;
    left: 0;
}

.trilho.dark .indicador {
    left: 42px;
    background-color: #ffffff;
}


.trilho.dark {
    background-color: #c3c3c3;
}


body.dark {
    background-color: #ffffff;
}
.modal-content.modal-split.dark {
    background: rgba(255, 255, 255, 0.51);
}

body.dark h2.titulo,
body.dark footer .line-footer p a,
body.dark header nav.menu-desktop a:hover,
.sobre.dark .txt-sobre,
.scroll-down.dark,
.topo-do-site.dark h1,
.topo-do-site.dark .txt-topo-site p,
.especialidades.dark a,
.modal-content.modal-split.dark .modal-info{
    color: #000000;
}

body.dark .btn-social button {
    color: white;
}

.especialidades.dark span.tech-icon ,
.modal-content.modal-split.dark .modal-info span.tech-icon {
    color: #3c3a3a;
    background-color: #b7b7b7;
}
.especialidades.dark .especialidades-box {
    color: #1e1e1e;
}

.especialidades.dark .especialidades-box:hover {
    box-shadow: 0 0 20px #252424;
}

@media (max-width: 1200px) {
    .img-port {
        width: 45%; /* Para telas menores, exibe 2 por linha */
    }
}

@media (max-width: 768px) {
    .img-port {
        width: 100%; /* Para telas ainda menores, exibe 1 por linha */
    }
}

@media screen and (max-width: 1020px) {
    /* CLASSES GERAIS */
    .flex {
        flex-direction: column;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    h2.titulo {
        font-size: 34px;
        line-height: 30px;
    }

    section {
        height: auto;
    }

    /* CABEÇALHO */
    header,
    .menu-desktop ul,
    .menu-desktop div,
    .btn-contato {
        display: none;
    }

    /* TOPO DO SITE */
    section.topo-do-site {
        padding: 40px 4%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    section.topo-do-site h1 {
        font-size: 30px;
        margin-bottom: 20px;
        flex: 0 0 80%;
    }

    section.topo-do-site .left-side {
        width: 100%;
        text-align: center;
        display: flex;
        padding: 0 !important;
        flex: 0 0 70%;
    }

    section.topo-do-site .right-side {
        width: 100%;
        height: 20%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        margin-top: 20px;
    }

    section.topo-do-site .right-side img {
        width: 100%;
        height: 70%;
        object-fit: contain;
    }

    /* ESPECIALIDADES */
    section.especialidades {
        padding: 40px 8%;
    }

    /* SOBRE */
    section.sobre {
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2 {
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .sobre .txt-sobre p,
    .btn-social{
        text-align: center;
    }

    .sobre .btn-social{
        display: flex;
        justify-content: center;
    }

    /* PORTFÓLIO */
    section.portfolio {
        padding: 80px 8%;
    }

    .img-port {
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex {
        gap: 60px;
    }

    /* RODAPÉ */
    footer .flex {
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer {
        text-align: center;
    }
}
/* Animação */
@keyframes flutuarSeta {
    0% {
        transform: translateX(-50%) translateY(0);
    }
    100% {
        transform: translateX(-50%) translateY(15px);
    }
}


@keyframes flutuar {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(40px);
    }
}
