<!DOCTYPE html>
<html lang="br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="icon" href="/images/naruto.png" type="image/png">

    <script src="/js/index.js" defer></script>

    <title>Portfolios</title>
</head>
    <body>

        <header>
            <div class="interface">
                <div class="logo">
                    <a href="/">
                        <img src="/images/logo.png" alt="Logo Portfolio">
                    </a>
                </div>

                <nav class="menu-desktop">
                    <ul>
                        <li><a href="#topo-do-site" th:text="#{topbar.inicio}"></a></li>
                        <li><a href="#especiliadades" th:text="#{topbar.especialidades}"></a></li>
                        <li><a href="#sobre" th:text="#{topbar.sobre}"></a></li>
                        <li><a href="#portfolio" th:text="#{topbar.portifolio}"></a></li>
                        <li><a href="#formulario" th:text="#{topbar.formulario}"></a></li>
                    </ul>
                </nav>

                <div class="btn-contato">
                    <a href="#">
                        <button th:text="#{topbar.contato}"></button>
                    </a>
                </div>

                <div class="btn-abrir-menu" id="btn-menu">
                    <i class="bi bi-list"></i>
                </div>

                <div class="menu-mobile" id="menu-mobile">
                    <div class="btn-fechar">
                        <i class="bi bi-x-lg"></i>
                    </div>

                    <nav>
                        <ul>
                            <li><a href="#topo-do-site" th:text="#{topbar.inicio}"></a></li>
                            <li><a href="#especiliadades" th:text="#{topbar.especialidades}"></a></li>
                            <li><a href="#sobre" th:text="#{topbar.sobre}"></a></li>
                            <li><a href="#portfolio" th:text="#{topbar.portifolio}"></a></li>
                            <li><a href="#formulario" th:text="#{topbar.formulario}"></a></li>
                        </ul>
                    </nav>

                </div>
                <div class="overlay-menu" id="overlay-menu"></div>
            </div>
        </header>


        <main>
            <section id="topo-do-site" class="topo-do-site">
            <div class="interface">
                    <div class="flex">
                        <div class="txt-topo-site">
                            <h1>HUB DE PORTIFOLIOS <span>.</span></h1>
                            <p>Olá! eu me chamo Marcos e criei esse pequeno HUB para armazenar meus projetos pessoais.</p>

                            <div class="btn-contato">
                                <a href="#">
                                    <button>Entre em contato</button>
                                </a>
                            </div>
                        </div>

                        <div class="img-topo-site">
                            <img src="/images/naruto.png" alt="">
                        </div>
                    </div>
                </div>
            </section>

            <section id="especiliadades" class="especiliadades">
                <div class="interface">
                    <h2 class="titulo">MINHAS <span>ESPECIALIDADES.</span></h2>
                    <div class="flex">
                        <div class="especialidades-box">
                            <i class="bi bi-braces"></i>
                            <h3 th:text="#{index.especialidade.programacao.titulo}"></h3>
                            <p th:text="#{index.especialidade.programacao.texto}"></p>
                        </div>

                        <div class="especialidades-box">
                            <i class="bi bi-code-square"></i>
                            <h3 th:text="#{index.especialidade.web.titulo}"></h3>
                            <p th:text="#{index.especialidade.web.texto}"></p>
                        </div>

                        <div class="especialidades-box">
                            <i class="bi bi-database"></i>
                            <h3 th:text="#{index.especialidade.database.titulo}"></h3>
                            <p th:text="#{index.especialidade.database.texto}"></p>
                        </div>
                    </div>
                </div>
            </section>

            <section id="sobre" class="sobre">
                <div class="interface">
                    <div class="flex">
                        <div class="img-sobre">
                            <img src="/images/foto.png" alt="">
                        </div>

                        <div class="txt-sobre">
                            <h2>MUITO PRAZER, <span>SOU MARCOS PAULO.</span></h2>
                            <p th:text="#{index.sobre.primeiro.paragrafo}"></p>
                            <p th:text="#{index.sobre.segundo.paragrafo}"></p>
                            <div class="btn-social">
                                <a href="https://github.com/apenasMarcos" target="_blank">
                                    <button><i class="bi bi-github"></i></button>
                                </a>
                                <a href="https://www.linkedin.com/in/onlymarc" target="_blank">
                                    <button><i class="bi bi-linkedin"></i></button>
                                </a>
                                <a href="https://www.youtube.com/c/apenasMarcosyt" target="_blank">
                                    <button><i class="bi bi-youtube"></i></button>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="portfolio" class="portfolio">
                <div class="interface">
                    <h2 class="titulo">MEU <span>PORTFÓLIO.</span></h2>
                    <div class="flex">
                        <div class="img-port" style="background-image: url(/images/imagem.jpg);">
                            <div class="overlay">Projeto 1</div>
                        </div>
                        <div class="img-port" style="background-image: url(/images/imagem.jpg);">
                            <div class="overlay">Projeto 2</div>
                        </div>
                        <div class="img-port" style="background-image: url(/images/imagem.jpg);">
                            <div class="overlay">Projeto 3</div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="formulario" class="formulario">
                <div class="interface">
                    <h2 class="titulo">FALE <span>COMIGO.</span></h2>

                    <form action="/fale-comigo" method="post">
                        <label for="nome"></label><input type="text" name="nome" id="nome" placeholder="Seu nome completo:" required>
                        <label for="remetente"></label><input type="text" name="remetente" id="remetente" placeholder="Seu e-mail:" required>
                        <label for="celular"></label><input type="text" name="celular" id="celular" placeholder="Seu celular:">
                        <label for="mensagem"></label><textarea name="mensagem" id="mensagem" placeholder="Sua mensagem" required></textarea>
                        <div class="btn-enviar"><input type="submit" value="ENVIAR"></div>
                    </form>

                </div>
            </section>
        </main>

        <footer>
            <div class="interface">
                <div class="line-footer">
                    <div class="flex">
                        <div class="logo-footer">
                            <img src="/images/logo.png" alt="Logotipo Agência BRN">
                        </div><
                        <div class="btn-social">
                            <a href="https://github.com/apenasMarcos" target="_blank">
                                <button><i class="bi bi-github"></i></button>
                            </a>
                            <a href="https://www.linkedin.com/in/onlymarc" target="_blank">
                                <button><i class="bi bi-linkedin"></i></button>
                            </a>
                            <a href="https://www.youtube.com/c/apenasMarcosyt" target="_blank">
                                <button><i class="bi bi-youtube"></i></button>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="line-footer borda">
                    <p><i class="bi bi-envelope-fill"></i> <a href="mailto:marcos.paulo.mpsb99@gmail.com">marcos.paulo.mpsb99@gmail.com</a></p>
                </div>
            </div>
        </footer>
    </body>
</html>
